input {
  file {
    codec => multiline {
      negate => "true"
      pattern => "^\(\d{2}"
      what => "previous"
    }
    path => "/Users/phillip/proj/logstash-sandbox/input/*.txt"
    start_position => "beginning"
  }
}

filter {
  grok {
    match => [ "message", "\(%{NUMBER:line_num}\) DATA: %{GREEDYDATA:hex_data}"]
  }
  hexdatatransformer {
    field => "hex_data"
    decoder_type => "Sample1"
  }
}

output {
  stdout { 
    codec => rubydebug { }
  }
}
